*{
    margin: 0;
    padding: 0;
    text-align: center;
}


h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    width: 165px;
    height: 165px;
}

.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}

img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    margin-top: 3rem;
    gap: 4rem;
}

#user-score, #comp-score{
    font-size: 2rem;
}

.msj-container{
    margin-top: 4rem;
}

#msj{

    background-color: #081b31;
    color: #fff;
    font-size: 1.3rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    
}
